.messages__box {
    flex: 1;
    display: flex;
}
.dialog {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.dialog__box {
    flex: 1;
}
.dialog__send {
    margin-bottom: auto !important;
    margin-left: 10px;
    margin-right: 0px !important;
}
.dialog__text {
    flex: 1;
    height: 35px;
    border: 1px solid #F4DA53;
    padding: 7px;
    border-radius: 2px;
    color: #714502;
    line-height: 1.4em;
}
.dialog__text:focus{
    height: 80px;
}
.dialog__form {
    padding: 10px;
    border: 1px solid #FAF2C2;
    background: #fefcf1;
}