.order__param{
    display: inline-block;
    padding: 5px;
}
.order__table{
    width: 100%;
}
.order__item td{
    padding: 3px;
    border-top:1px solid #714502;
}
.order__itog{
    background: #714502;
    color: #fff;
    padding: 10px 20px;
    text-align: right;
}
.order__item td:first-of-type{
    border-left:1px solid #714502;
}