.order__itog{
    background: #714502;
    color: #fff;
    padding: 10px 20px;
    text-align: right;
}
.subnavigation__box {
    display: flex;
}
.subnavigation__item {
    margin-right: 10px;
}
.subnavigation__item.check {
    background: #714502;
    color:#fff;
}
.order__box{
    margin-top: 10px;
    /*font-size: 14px;*/
}
.order__zakupka{
    border: 2px dashed rgba(242, 213, 68, 1);
    padding: 2px;
    margin-bottom: 30px;
    position: relative;
}
.order__line-highlight{
    background: #fcf2bf;
    color: #590725;
    padding: 12px 10px;
}
.order__name{
    font-weight: bold;
    padding-right: 10px;
    color: #590725;
}
.order__organizator-line{
   margin-top: 3px;
}
.order__stock-box{
    padding: 20px;
}
.order__item{
   display: flex;
   flex-wrap: wrap;
}
.order__item > *{
    margin-bottom: 20px;
}
.order__item-params{
    margin-left: 15px;
    margin-right: auto;
    min-width: 220px;
    max-width: 220px;
}
.order__param-value{
    color: #2b6ca3;
}
.order__count-box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.order__price-box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.order__del-title{
    margin-left: 5px;
    text-decoration: underline;
}
.catalog__order-item-del{
    margin-left: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.catalog__summ-val{
    font-weight: bold;
    font-size: 24px;
    color: #590725;
    margin-top: 15px;
}
.order__count-block{
    display: flex;
    margin-top: 15px;
    justify-content: center;
}
.order__count-input{
    width: 30px;
    font-size: 20px;
    padding: 5px 5px;
    border: 2px solid rgb(242, 213, 68);
    text-align: center;
    background: #fff;
}
.order__count-change{
    font-size: 32px;
    cursor: pointer;
    flex: 1;
    margin: 5px;
    justify-content: center;
    text-align: center;
    font-family: monospace;
    line-height: 20px;
    color: rgb(242, 213, 68);
}
.order__stop-time{
    margin-left: 10px;
    color: #ED1566;
    font-weight: bold;
}
.order-info__box{
    margin: 20px 0;
}
.order-info__req-info{
    padding: 20px;
}
.form-pay-notice{
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}