<div class="editTemplateBox">
    <h2> Редактируется книга {{book.name}} </h2>
    <div class="editTemplateBox_pagination-box">
        <div>
            <ul class="editTemplateBox_pagination" ui-sortable="sortableOptions" ng-model="book.template">
                <li class="page {{checkCur(num)}}" ng-repeat="(num, page) in book.template" >
                    <span ng-click="selectPage(num)"> 
                        <input type="text" ng-model="page.title"/>
                    </span>
                    <span class="instabook__photo-remove" ng-click="removePage(page)"> X </span>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <button class="btn btn-success" ng-click="addPage()">
            Добавить разворот <i class="icon-plus icon-white"></i>
        </button>
    </div>
    <div class="editBackTemplate-box">
        <div class="editBackTemplate" style="background-image: url({{getSrcPage()}})">
            <div class="instabook__photo-controller {{checkHover(item)}}" ng-repeat="(num, item) in book.template[curpage].photos" 
                 dnd-draggable = "true"
                 dnd-on-dragend = "dragEnd(item)"
                 dnd-on-dragstart = "selectItem(item)"

                 dnd-rotatable = "true"
                 dnd-on-rotateend = "rotateEnd(item)"
                 dnd-on-rotatestart= "selectItem(item)"

                 dnd-resizable = "true"
                 dnd-on-resizeend = "resizeEnd(item)"
                 dnd-on-resizestart = "selectItem(item)"
                 
                 ng-click="selectItem(item)"
                 
                 dnd-rect  = "item.rect"
                 dnd-model = "item"
                 style="{{photoStyle(item)}}">
                <span class="instabook__photo-remove" ng-click="removeArea(item)"> X </span>
            </div>
        </div>
        <div class="editBackTemplate-groups">
            <button class="btn btn-success" ng-click="copyPage()">
                Копировать разворот
            </button>
            <ul class="page-layer__box" ui-sortable="{}" ng-model="book.template[curpage].photos">
                <li class="page-layer {{checkHover(item)}}" ng-repeat="(key,item) in book.template[curpage].photos" ng-mouseover="showGroup(item)">{{key+1}} Слой  </li>
            </ul>
            <div>
                <button class="btn btn-success" ng-click="addArea()">
                    Добавить область <i class="icon-plus icon-white"></i>
                </button>
            </div>
            <div class="props">
                <h3> Параметры </h3>
                <div class="flex-line">
                    <span>top: </span>
                    <span>{{parseInt(showItem.rect.top)}}</span>
                </div>
                <div class="flex-line">
                    <span>left: </span>
                    <span>{{parseInt(showItem.rect.left)}}</span>
                </div>
                <div class="flex-line">
                    <span>width </span>
                    <span>{{parseInt(showItem.rect.width)}}</span>
                </div>
                <div class="flex-line">
                    <span>height: </span>
                    <span>{{parseInt(showItem.rect.height)}}</span>
                </div>
                <div class="">
                    <div>transform:</div>
                    <div>{{showItem.rect.transform}}</div>
                </div>
            </div>
            <div class="drop-zone" ng-controller="drop2Controller">
                <div style="text-align:center;" id="startUpload" ng-show="showBtns">
                    <button ng-click="dzMethods.processQueue();">Start Uploading</button>
                    <button ng-click="dzMethods.removeAllFiles();">Remove All Files</button>
                    <button ng-click="dzMethods.removeFile(lastFile);">Remove Last File</button>
                    <button ng-click="getDropzone();">Get getDropzone instance</button>
                    <button ng-click="getFiles();">Get total files</button>
                </div>
                <div id="dropzone2" class="dropzone sm" options="dzOptions" methods="dzMethods" callbacks="dzCallbacks" ng-dropzone></div>
            </div>
            <div>
                <button class="btn btn-success" ng-click="saveBook()">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>
