<div>
    <h2> Шаблоны </h2>
    <ul class="templates-box" ui-sortable="sortableTemplates" ng-model="templates">
        <li ng-repeat="item in templates" class="templates-box__item">
            <div class="flex-line templates-box__line">
                <input type="text" class="templates-box__item-name" ng-model="item.name"/>
                <a class="btn btn-danger templates-box__action" ng-click="deleteTemplate(item)">
                    <i class="icon-remove icon-white"></i>
                </a>
            </div>
            <div class="flex-line templates-box__line">
                <select ng-model="item.cat" class="templates-box__cat-select">
                    <option ng-repeat="cat in cats" value="{{cat.id}}"> {{cat.name}} </option>
                </select>
                <a class="btn btn-primary templates-box__action" ng-click="editTemplate(item.id)">
                    <i class="icon-pencil icon-white"></i>
                </a>
                <a class="btn btn-info templates-box__action" title="Копировать" ng-click="copyTemplate(item.id)">
                    C
                </a>
            </div>
            <label class="checkbox-label templates-box__line">
                <input type="checkbox" ng-model="item.publ" ng-true-value="1" ng-false-value="0" ng-checked="item.publ === 1" ng-change="change(item)"/>
                <span class="checkbox-label__check"></span>
                <span class="checkbox-label__name"> Опубликованно </span>
            </label>
        </li>
    </ul>
    <button class="btn btn-success" ng-click="addTemplate()">
        Добавить <i class="icon-plus icon-white"></i>
    </button>
</div>
