<div>
    <h2> Разделы </h2>
    <ul ui-sortable="sortableOptions" ng-model="cats" class="cats-box">
        <li ng-repeat="item in cats" class="cats-box__item"> 
            <span class="cats-box__item-name">
                <input class="cats-box__val" type="text" ng-model="item.name" ng-change="catsChange()">
            </span>
            <a class="btn btn-danger cats-box__action" ng-click="catRemove(item)"><i class="icon-remove icon-white"></i></a>
        </li>
    </ul>
    <button class="btn btn-success" ng-click="addCat()">
        Добавить <i class="icon-plus icon-white"></i>
    </button>
</div>
