<div class="block">
    <div class="navbar navbar-inner block-header">
        <div class="muted pull-left"> Список пользователей и сотрудников </div>
    </div>
    <div class="table-toolbar">
        <div class="btn-group">
            <a>
                <button class="btn btn-success" ng-click="addForm()">
                    Добавить <i class="icon-plus icon-white"></i>
                </button>
            </a>
        </div>
    </div>
    <table class="table" show-filter="true" ng-table-dynamic="tableParams with cols">
        <tr ng-repeat="row in $data">
            <td ng-repeat="col in $columns">{{$eval(col.valueExpr, { item: row })}}</td>
            <td>
                <button ng-click="editUser(row)"> Редактировать </button>
            </td>
        </tr>
    </table>
    <p><strong>Page:</strong> {{ tableParams.page() }}</p>
    <button class="btn btn-default" ng-click="previous()">Previous</button>
    <button class="btn btn-default" ng-click="next()">Next</button>
    <button class="btn btn-default" ng-click="info()">Info</button>
</div>

<div class="block" ng-show="isShowForm">
    <div class="navbar navbar-inner block-header">
        <div class="muted pull-left">Пользователь {{object.id}} {{object.name}} {{object.surname}}</div>
    </div>
    <div class="block-content collapse in">
        <form class="form-horizontal" >
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Фамилия </label>
                    <div class="controls">
                        <input type="text" ng-model="object.surname">
                    </div>
                </div>
                <div class="form-actions submitLine">
                    <button ng-click="saveUser()" type="submit" class="btn btn-primary">Сохранить</button>
                </div>    
            </fieldset>
        </form>
    </div>
</div>