<h3 class='faq-checkbox'>
    Что такое совместные закупки?
</h3>
<div class='faq-more'>
    <p>В лексиконе людей часто можно услышать фразу «Я покупаю в СП…». СП – это сокращенное название Совместных Покупок, ставших популярными в последнее время. Люди объединяются, выбирают интересующий их товар, собирают деньги на его приобретение, делают заказ в фирму, оплачивают счет или выкупают за наличный расчет свой заказ и делят между собой то, что заказали.</p>
    <p>Схема очень проста, и в то же время интересна для простых покупателей, поскольку некоторые товары доступны к покупке только оптом, либо выгодны для заказа в больших количествах, нежели по одному. Тот факт, что при оптовой закупке товар обходится в несколько раз дешевле, очевиден.</p>
    <p>Другой причиной для совместной покупки может быть также стоимости доставки. Например, заказывая вещь из интернет-магазина, можно столкнуться с тем, что оплата доставки фиксирована или имеет минимум, независимо от того, сколько стоит и весит сама вещь, как результат доставка может стоить больше самого заказа или составлять не менее 2/3 ее стоимости. Получается, что надо искать компаньона по покупке, а может, и не одного.</p>
</div>
<h3 class="faq-checkbox">
    Какая минимальная сумма заказа?
</h3>
<div class='faq-more'>
    Участники закупки заказывают товары на сумму по своему усмотрению. Важно, чтобы общая сумма всех заказов всех участников в закупке была равна или более минимальной суммы, на которую оптовая фирма продает товар. Величина минимальной суммы заказа указана в условиях закупки в первом посте темы.
</div>
<h3 class="faq-checkbox">
    Кто проводит СП?
</h3>
<div class='faq-more'>
    Совместную покупку проводит Организатор - это Участник, входящий в группу "Организаторы". Для покрытия расходов на организацию закупки Организатор добавляет к цене по прайсу поставщика организаторский сбор. Процент устанавливается для каждой покупки. <br>
    Внимание! Организатор - это не продавец в общепринятом смысле этого слова, это человек, организующий закупку (посредник).
</div>
<h3 class="faq-checkbox">
    Кто такой "организатор" и как им стать?
</h3>
<div class='faq-more'>
    Организатор — Пользователь сайта, создавший на сайте предложение по продаже Товара (Закупку).<br>
    Организаторы закупок сотрудничают напрямую с производителями или их поставщиками. Они организуют, весь процесс от начала заказа до его доставки покупателям:<br>
    <ul>
        <li>ведут переговоры,</li>
        <li>заключают договора,</li>
        <li>формируют заказ,</li>
        <li>оплачивают общую сумму заказа,</li>
        <li>информируют участников о выкупе,</li>
        <li>получают партию товара (Закупку) в транспортных компаниях или напрямую производителя/поставщика,</li>
        <li>разбирают и раздают заказы или направляют их вам по почте либо посредством службы доставки.</li>
    </ul>
    За все хлопоты Организаторы берут небольшой процент от вашей покупки. Он на много меньше магазинных процентов!<br>
    Информацию об Организаторе вы можете узнать из его профиля.<br>
    В профиле вы также можете подписаться на рассылки Организатора, отправить ему сообщение и прочитать отзывы о нём. В профиле также можно посмотреть все закупки, которые проводит Организатор.<br>
    Стать Организатором не так уж просто, но возможно. Наши Организаторы прошли тщательный отбор. Если вы хотите стать Организатором на SP, то отправьте заявку на нашу почту.<br>
</div>
<h3 class='faq-checkbox'>
    Плюсы и минусы Совместных Закупок
</h3>
<div class='faq-more'>
    Плюсы совместных покупок:<br> 
    <ul>
        <li>является низкая (оптовая) стоимость товара, составляющая иногда менее половины от стоимости в розничном магазине;</li>
        <li>гарантированное происхождение товара, так как заказ размещается непосредственно у производителя или официального поставщика.</li>
    </ul>
    Поскольку товар приобретается оптом и дистанционно, то к минусам СП можно отнести:<br> 
    <ul>
        <li>отсутствие абсолютной гарантии по цвету (цветопередача мониторов устройств не всегда точно отражает реальный цвет товара) и размеру товара у некоторых поставщиков (бывает, что размеры привычные - маломерят или большемерят);</li>
        <li>отсутствие возможности товар потрогать и померить (но часто бывает, что товар есть в наличии у Организатора и потрогать его можно  ).</li>
    </ul>  
    Необходимо взвесить все плюсы и минусы, прежде чем принимать решение об участии в совместных покупках.<br>
    И помните, что всегда новый товар можно пристроить/продать на нашем сайте Пристрой участников и Пристрой организаторов<br>
</div>
<h3 class='faq-checkbox'>
    Есть ли товар в наличии?
</h3>
<div class='faq-more'>
    Есть две закупки с товаром в наличии: Пристрой Участников и Пристрой Организаторов. Там размещаются только новые товары, которые по каким либо причинам не были выкуплены или не подошли участникам.<br>
    Подробнее - в разделе "Пристрой".<br>
</div>